body{
    text-align: center;
    align-content: center;
    text-shadow: 2px 2px 5px rgb(153, 137, 108);
    margin: 0;
    position: absolute;
    top: 25%;
    left: 35%;
    background-color: aliceblue;

}
.gradRed {
    background-image: linear-gradient(to right, red , yellow);
  }

  